html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html{
  background-color:#000000;
}

* {cursor: none;}
/*
* {
  box-sizing: border-box;
}
*/

#container_slider{
  /*display:none;*/
  margin-left:auto;
  margin-right:auto;
  width:99%;
  height:799px;
  background-image:url("media/wp_elegant4.jpg");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#videocontainer{
  display:none;
}

.slick {
    width: 95%;
    /*margin: 0px auto;
    margin-top:50px;*/


}

.slick-slide {
  margin: 5px 5px;
  height:600px;


  transition: all ease-in-out .3s;
  opacity: .0;
}

.slick-slide img {
  /*width: 100%;*/
}

.slick-prev:before,
.slick-next:before {
  color: white;
}

.slick-active {
  opacity: .8;
}

.slick-current {
      opacity: 1;
}

.slick_inn{
  display: inline-flex;

}

#knopp{
  width:400px;
  height:400px;
  background-image:url("media/kombi_1_1.png");
  background-size: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:10px;
}

#pinfield{
  width:50%;
  min-width:300px;
  height:70px;
  border-radius:10px;
  /*border:2px solid black;*/
  font-size:60px;
  text-align:center;
  vertical-align:middle;
  padding:auto;
  font-family:arial;
  margin-left:auto;
  margin-right:auto;

  overflow:hidden;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid white;

}

button{
  border-radius:10px;
  border: 1px solid black;
  font-size: 50px;
  display: block;
  float:left;
}

button:hover{
  background-color:#a5f2ff;
}
button:active{
  background-color:red;
}

.mybutton{
  display:block;
  float:left;
  min-height:30px;
  border-radius:3px;
  border: 2px solid white;
  font-size: 50px;
  padding-left:10px;
  padding-right:10px;
  position: absolute;
}

.mybutton:hover{
  background-color:#efefef;
}
.mybutton:active{
  background-color:red;
}

.wheel{

}

div.container{

}

#colorpicker1{
  height:500px;
  width:500px;
  bottom:20px;
  margin-left:auto;
  margin-right:auto;
}


.camerabutton{
  width:80px;
  height:80px;
  bottom:20px;
  margin-left:auto;
  margin-right:auto;
}
.camerabutton:hover, active{
  background-color:red;
}

#cameraimage{
  height:100%;
  margin-left:auto;
  margin-right:auto;
  display: block;
  float:left;
}

#b_snapshot{
  bottom:10px;
  left:45%;
}

#pinpad{
    height:300px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    display:none;
}

.pp_number{
    height:80px;
    width:80px;
    margin:5px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    border: 1px solid white;
}
.pp_dummynumber{
    height:80px;
    width:80px;
    margin:5px;
    float:left;
}

#controlbuttons{
  height:200px;
  width:200px;
  position:absolute;
  display: block;
  top:30%;
  margin-left:9%;
}

.controlbutton{
  width:100%;
  height:80px;
  margin:5px;
  background-color: rgba(255,255,255,0.2);
  border: 1px solid white;
}

.switch_container {
  position: absolute;
  margin-top:20px;
  margin-left:0px;
  width:200px;

  text-align:center;
}

#sc1{
  position: relative;
  display: inline-block;
}

#sl1{ float: left; width:35px; height:32px; background-image:url("media/cube_fill.png"); background-size: 100%;}
#sl2{ float: right; width:35px; height:32px; background-image:url("media/cube_edge.png"); background-size: 100%;}
#sk1{ float: left; width:35px; height:35px; background-image:url("media/kombiicon.png"); background-size: 100%;}
#sk2{ float: right; width:35px; height:35px; background-image:url("media/pinpadicon.png"); background-size: 100%;}

#container_colorchoice{
  position:absolute;
}

.colorchoice {
  display: block;
  float:left;
}

